body {
    font-family: sans-serif
}

header{
    background-color: rgb(40, 196, 193);
    height: 70px;
}

h1{
    text-align: center;
    padding-top: 10px;
}

nav{
    height: 40px;
    display: flex;
    justify-content: space-around;
}

nav a{
    width: 110px;
    height: 35px;
    text-decoration: none;
    color: rgba(59, 228, 226, 0.927);
    background-color: blue;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
}

nav a:hover{
    width: 120px;
    height: 40px;
    font-size: 20px;
    border: 5px solid blue;
    border-radius: 15%;
}

section{
    margin-top: 30px;
    border: 10px solid rgb(40, 196, 193);
    height: 400px;
}

.name1 h2{
    font-size: 45px;
    background-color: turquoise;
    padding-left: 10px;
}

.name1 h2:hover{
    color: white;
}

.left{
    float: left;
}

li{
    font-size: 25px;
    list-style: circle inside;
}

li:hover{
    border-bottom: 1px solid black;
}

.monako{
    float: right;
    text-align: right;
    margin: 20px;
    border-bottom:1px solid rgb(40, 196, 193);
}

.monako img{
    float: right;
    margin: 10px;    
}

.monako p{
    border-bottom:1px solid rgb(40, 196, 193);
}

.right{
    float: right;
    margin-right:50px;
}

.gimalai{
    float: left;
    margin-left: 30px;
}
